<h1>Register for the 2016 Presidential Elections</h1>
<%= form_for :user do |form| %>
  Name <%= form.text_field :name, placeholder: "Enter name" %><br />
  Email <%= form.text_field :email, placeholder: "Enter email" %><br />
  <%= form.submit "Login" %>
<% end %>